h1 {
    background-color: black;
    width: 18%;
    border: .3em solid goldenrod;
    border-radius: 1em;
    text-align: center;
    color: goldenrod;
    opacity: 0.6;
    border-style: ridge;
    padding-top: .2em;
}

ul {
    font-size: 150%;
    font-family: Papyrus;
}

