html {
    background-color: gray;
    color: black;
    text-shadow: 4px 4px 10px yellow;
}

h1 {
    background-color: black;
    width: 18%;
    border-radius: 1em;
    border: .3em ridge goldenrod;
    text-align: center;
    opacity: 0.5;
    padding-top: .2em;
    text-shadow: 2px 2px 5px lime;
    color: gold;
}

ul {
    font-size: 150%;
    font-family: Papyrus, serif;
}

.container {
    font-family: Papyrus, serif;
    font-size: x-large;
}


