html {
    background-color: gray;
    color: black;
    text-shadow: 4px 4px 10px yellow;
}

header {
    background-color: Black;
    padding: .5em;
    font-size: xx-large;
    text-align: center;
    color: yellow;
    text-shadow: 10px 10px 20px white;
}

body {
    background: url("https://i.natgeofe.com/k/49f3dd21-d3b5-476e-a85e-4c5b34651cd1/Denali-mountain_3x2.jpg") no-repeat center;
    background-size: cover;
    font-size: x-large;
}
h1 {
    background-color: black;
    width: 18%;
    border-radius: 1em;
    border: .3em ridge goldenrod;
    text-align: center;
    opacity: 0.8;
    padding-top: .2em;
    text-shadow: 2px 2px 5px lime;
    color: gold;
}



.container {
    font-family: Helvetica, serif;
    font-size: 105%;
}

strong {
    text-decoration: underline;
    font-weight: bold;
    font-size: 35px;
}

footer {
    background-color: Black;
    padding: .5em;
    font-size: xx-large;
    text-align: center;
    color: yellow;
    text-shadow: 2px 2px 8px white;
}

a {
    color: greenyellow;
    opacity: 0.8;
    padding: .002em;

}

img {
    -webkit-filter: grayscale(100%);
}